@charset "UTF-8";
@font-face {
  font-family: "NotoSans";
  font-weight: 300;
  src: url("../../../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../../../fonts/NotoSansKR-Light.woff") format("woff"), url("../../../fonts/NotoSansKR-Light.otf") format("opentype"); }
@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  src: url("../../../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../../../fonts/NotoSansKR-Regular.woff") format("woff"), url("../../../fonts/NotoSansKR-Regular.otf") format("opentype"); }
@font-face {
  font-family: "NotoSans";
  font-weight: 500;
  src: url("../../../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../../../fonts/NotoSansKR-Medium.woff") format("woff"), url("../../../fonts/NotoSansKR-Medium.otf") format("opentype"); }
@font-face {
  font-family: "NotoSans";
  font-weight: 700;
  src: url("../../../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../../../fonts/NotoSansKR-Bold.woff") format("woff"), url("../../../fonts/NotoSansKR-Bold.otf") format("opentype"); }
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../fonts/montserrat-v14-latin-300.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-300.woff") format("woff"), url("../fonts/montserrat-v14-latin-300.ttf") format("truetype"); }
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/montserrat-v14-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-500.woff") format("woff"), url("../fonts/montserrat-v14-latin-500.ttf") format("truetype"); }
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-700.woff") format("woff"), url("../fonts/montserrat-v14-latin-700.ttf") format("truetype"); }
body, h1, h2, h3, h4, h5, h6, p, ul, button, figure {
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

button {
  border: none;
  background: none; }

img {
  vertical-align: top; }

img, figure {
  /* 모바일에서 반드시 추가 */
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

header, nav, section, article, figure, footer {
  display: block; }

.fl_left {
  float: left; }

.fl_right {
  float: right; }

.po_absol {
  position: absolute; }

.po_relat {
  position: relative; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.sr-only {
  position: absolute;
  left: -9999px;
  top: 0px; }

.orange {
  color: #ffbc27; }

.area {
  padding-left: 15px;
  padding-right: 15px; }

.margintop80 {
  margin-top: 80px; }

.padding-horizontal {
  padding: 0px 15px; }

.fade {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0; }
  .fade.on {
    opacity: 1; }
  .fade.direction-up {
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  .fade.direction-down {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
  .fade.direction-right {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px); }
  .fade.direction-right {
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  .fade.on.direction-up, .fade.on.direction-down {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  .fade.on.direction-right, .fade.on.direction-left {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }

#content {
  margin-bottom: 100px; }

body {
  font-family: "NotoSans", "Montserrat";
  font-size: 13px;
  color: #333;
  line-height: 22px;
  font-weight: 400;
  word-break: keep-all; }

#header {
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  position: fixed;
  left: 0px;
  top: -57px;
  z-index: 900;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid transparent; }
  #header.load {
    /*  */
    top: 0px; }
  #header.bgchange {
    background: #fff;
    border-bottom-color: #e5e5e5; }
    #header.bgchange .logo a .white-Logo {
      opacity: 0; }
    #header.bgchange .logo a .color-Logo {
      opacity: 1; }
    #header.bgchange .btn-menu .line {
      background: #646464; }
  #header .btn-menu.active .line {
    background: #fff !important; }

.logo {
  width: 105px;
  height: 34px;
  left: 15px;
  top: 11px; }
  .logo img {
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    left: 0px;
    top: 0px; }
  .logo, .logo img {
    position: absolute; }
  .logo .color-Logo {
    opacity: 0; }

.btn-menu {
  right: 15px;
  top: 16px;
  width: 29px;
  height: 24px;
  z-index: 1000; }
  .btn-menu, .btn-menu .line {
    position: absolute; }
  .btn-menu .line {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    left: 0px;
    width: 100%;
    height: 4px;
    background: #fff; }
    .btn-menu .line.top {
      top: 0px; }
    .btn-menu .line.mid {
      top: 10px; }
    .btn-menu .line.btm {
      top: 20px; }
  .btn-menu.active .top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 10px; }
  .btn-menu.active .mid {
    opacity: 0; }
  .btn-menu.active .btm {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px; }

#gnb {
  position: fixed;
  left: 100%;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding-top: 56px;
  background: #4c265c;
  overflow-y: auto;
  /* 모바일회전(landscape 가로로보기)일 때 fixed는 고정되어 볼 수 없기때문에 overflow-y : auto를 추가해야 한다. */
  visibility: hidden; }
  #gnb ul li a {
    display: block;
    height: 35px;
    line-height: 35px;
    color: #fff; }
    #gnb ul li a:focus {
      outline: 1px solid #ff0; }
  #gnb > ul > li > a {
    position: relative;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 500; }
  #gnb > ul > li:not(.cnt-empty) > a::before, #gnb > ul > li:not(.cnt-empty) > a::after {
    content: "";
    position: absolute;
    right: 40px;
    top: 50%;
    width: 12px;
    height: 2px;
    background: #fff; }
  #gnb > ul > li:not(.cnt-empty) > a::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s; }
  #gnb > ul > li.on > a::after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  #gnb ul li ul {
    display: none;
    background: #6a437a; }
    #gnb ul li ul li a {
      padding: 5px 40px; }

#footer {
  padding: 50px 25px;
  text-align: center;
  color: #fff;
  background: #000; }
  #footer a img {
    height: 44px; }
  #footer address {
    padding: 30px 0px 12px;
    font-weight: 300;
    line-height: 1.62; }
  #footer p {
    font-size: 11px;
    font-weight: 300;
    line-height: 2.17;
    color: rgba(255, 255, 255, 0.2); }

/*# sourceMappingURL=common.css.map */
